extends layout

block content
    header.w3-container.mobile.w3-teal
      a(href= '/' class="w3-button w3-round-large")
        h1 CLAV
    .w3-container.w3-padding-16.w3-mobile
      .w3-container.w3-pale-blue.w3-center.w3-mobile
        h2= classe.titulo
      .w3-container.w3-mobile
        ul.w3-ul.w3-card-4
          li.w3-bar
            .w3-cell-row
              .w3-cell.w3-cell-top(style="width:10%")
                span.w3-bar-item.w3-border.w3-round-xlarge
                  b Título
              .w3-cell(style="width:1%")
              .w3-cell.w3-cell-middle
                  span.w3-bar-item.w3-bar-item= classe.titulo
          li.w3-bar
            .w3-cell-row
              .w3-cell.w3-cell-top(style="width:10%")
                span.w3-bar-item.w3-border.w3-round-xlarge
                  b Código
              .w3-cell(style="width:1%")
              .w3-cell.w3-cell-middle
                  span.w3-bar-item.w3-bar-item= classe.codigo
          li.w3-bar
            .w3-cell-row
              .w3-cell.w3-cell-top(style="width:10%")
                span.w3-bar-item.w3-border.w3-round-xlarge
                  b Descrição
              .w3-cell(style="width:1%")
              .w3-cell.w3-cell-middle
                span.w3-bar-item= classe.descricao
          li.w3-bar
            .w3-cell-row
              .w3-cell.w3-cell-top(style="width:10%")
                span.w3-bar-item.w3-border.w3-round-xlarge
                  b Estado
              .w3-cell(style="width:1%")
              .w3-cell.w3-cell-middle
                  span.w3-bar-item.w3-bar-item= classe.status
          li.w3-bar
            .w3-cell-row
              .w3-cell.w3-cell-top(style="width:10%")
                span.w3-bar-item.w3-border.w3-round-xlarge
                  b Nível
              .w3-cell(style="width:1%")
              .w3-cell.w3-cell-middle
                  span.w3-bar-item.w3-bar-item= classe.nivel
          if classe.filhos.length > 0
            li.w3-bar
              .w3-cell-row
                .w3-cell.w3-cell-top(style="width:10%")
                  span.w3-bar-item.w3-border.w3-round-xlarge
                    b Processos filhos
                .w3-cell(style="width:1%")
                .w3-cell.w3-cell-middle
                  ul.w3-ul.w3-card-4
                    each c in classe.filhos
                      li.w3-bar.w3-hover-gray
                        a(href='/classe/'+c.codigo)
                          .w3-bar-item
                            span(class="w3-large")= c.titulo
                            br
                            span
                              b código:
                            span= c.codigo
          if classe.nivel == 3
            if classe.termosInd.length > 0
              li.w3-bar
                .w3-cell-row
                  .w3-cell.w3-cell-top(style="width:10%")
                    span.w3-bar-item.w3-border.w3-round-xlarge
                      b Termos de Índice
                  .w3-cell(style="width:1%")
                  .w3-cell.w3-cell-middle
                    ul.w3-ul.w3-card-4
                      each n in classe.termosInd
                        li.w3-bar.w3-hover-gray
                            a(href= '/termos')
                              .w3-bar-item
                                span= n.termo

        if temPai == 1
          p
            a(href= '/classe/'+classe.pai.codigo class="w3-button w3-pale-blue w3-hover-gray w3-round-large") Voltar
        else
          p
            a(href= '/classes' class="w3-button w3-pale-blue w3-hover-gray w3-round-large") Voltar